.score-chart {
  flex: 1;
  border-radius: 5px;
  position: relative;
}

.score-center {
  background: #ffffff;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-percentage {
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 3px;
}

.score-label {
  color: #74798c;
  font-weight: 500;
}
