#root {
  font-family: roboto;
  height: 100%;

  .body {
    display: flex;
    height: calc(100% - 90px);
  }
  main.container {
    width: 100%;
    margin: 55px 55px auto 100px;
    max-width: 1126px;
  }
}
